* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #777;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.mg {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #888;
}

.mg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.mg img:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}

footer {
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    perspective: 1000px;
    text-shadow: 0 0 10px rgb(12, 12, 12);
}

footer a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}